body textarea{
  border:1px solid transparent;
}
body input[type='text']{
  border:1px solid transparent;
}

.cu_form input.err,.cu_form textarea.err{
  border-color:red;
}
.cu_form input,.cu_form textarea{
  transition:all 0.3s;
}

.ourworks_content{
  display:none;
}

.LangBox .LAT {
    background: url(/web/img/lang_lv.svg) no-repeat 0 0 !important;
}
.LangBox .RUS {
    background: url(/web/img/lang_ru.svg) no-repeat 0 0 !important;
}
.LangBox .ENG {
    background: url(/web/img/lang_en.svg) no-repeat 0 0 !important;
}
.LangBox .EST {
    background: url(/web/img/lang_est.svg) no-repeat 0 0 !important;
}
.LangBox .LT {
    background: url(/web/img/lang_lt.svg) no-repeat 0 0 !important;
}
.filter_option{
  display:none;
}

header   {
  border-bottom: 1px solid #d5d8ee;
  margin-bottom: 30px;
}
header .Cart {
  float: right;
  margin-right: 20px;
  margin-top: 25px;
  text-align: center;
  font-size: 10px;
  width: 28px;
  position: relative;
}

header .Cart a{
  height: 25px;
  width: 28px;
  display: block;
  background: url(../img/cart-ico.svg) no-repeat;
  background-size: 100%;
}
header .Cart span {
  position: absolute;
  left: 6px;
  top: 3px;
  background: #405584;
  color: #fff;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  min-width: 15px;
  min-height: 15px;
  line-height: 15px;
  margin-top: 3px;
}
/* document */
/* autocomplete styles */
#ui-id-1 li {
  background: #f4f5ff;
  font-size: 13px;
  font-weight: bold;
  color: #405584;
}

#ui-id-1 li div{
  padding-left: 5px;
}
ul.ui-autocomplete.ui-menu{
  /* border:unset; */
  padding: 0px 15px;
  color: #405584;
  max-width: 370px;
}

.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  border: none;
  background: #405584 !important;
  /* font-weight: bold !important;*/
  color: #ffffff !important;
}
/**/
/* Prodcts list*/
.ProductList .ProductList-menu { 
  max-height: 460px;
  overflow: auto; 
}
.PageCabinet .FormBox .form-group .btns-white-red {
  padding: 11px 20px;
}

.ProductList .ProductList-menu ul li{ 
  max-height: 460px;
  margin-bottom: 5%;
}

.ProductList .ProductList-item .ProdInfo .text{
  height: 54px;
}
.ProdImg figure {
  width: 100%; /* Ширина области */
  /* Высота области */
  /* height: 280px;
  min-height: 280px;*/
  max-height: 280px;
  margin: 0; /* Обнуляем отступы */
  overflow: hidden; /* Прячем всё за пределами */
  /* min-width: 600px;  Минимальная ширина */
 }

 .ProdImg .imageRespon {
  max-height: 200px;
  padding-bottom: 10px;
}
/* Video */
.VideoInstruction {
  margin-bottom: -30;
}
/**/
.page-item.active .page-link {
  background-color: #405584;
  border-color: #405584;
}
.page-link {
  color: #405584;
}
.page-link:focus {
  box-shadow: none;
}
/* */
.GorizontalList > .row{
  max-height:122px;
}

  .ProductList .filter ul li.active a {
    border-color: #dd4d44;
    background: #fff;
    color: #dd4d44;
    position: relative;
    /*padding-right: 30px;*/
  }

.ProductList .ProductList-item .ProdInfo .text {
  max-height: 54px;
  overflow: visible;
}
/* gallery img styles */
.Image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.Full-screen {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: white;
  cursor: pointer;
  opacity: 0.6;
}
.ModalWork .modal-content .ModalArr {
  cursor: pointer;
}
/* -------------- */
.ProductSlider .BoxImageProd {
  padding-right: 5px;
  padding-top: 5px;
}
.ProductSlider .Title {
  margin-top: 0;
}
.jqselect .ColorItem .disabled {
  cursor: not-allowed;
}
.modalPrice {
  color: #405584;
  font-size: 30px;
  font-weight: bold;
  line-height: 43px;
  text-align: center;
}
#JurCheck-styler {
  margin-left: 20px;
}
#About-tab .nav-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 991px) {
/* LEFT MENU*/
  .TopMenu {
    width: auto;
  }
/*  END  ----  LEFT MENU*/

/* LANG MENU */
  .LangBox{
    width: 70px;
    position: absolute;
    left: 60px;
    top: 13px;
  }

  .LangBox .jq-selectbox__select {
    padding: 0 0 0 30px;
  }

  .LangBox .jq-selectbox__dropdown {
    padding: 10px 16px;
    width: 90px;
    top: 26px;
    left: -5px;
  }

  .LangBox .jq-selectbox__dropdown li {
    padding: 3px 0 10px 32px;
  }
}

.ProductList .ProductList-menu ul li {
  display: block;
}

#Team-tabContent .ListTeam .contact {
  display: block; 
}

#ModalDelivery .modal-body .form-group {
  margin-bottom: 20px;
}
.modal-body .form-group .form-control .is-invalid {
  border-color: #dc3545;
}
.BoxModalIMG .imageRespon {
  background: #f8f9fa;
  max-height: 620px;
}

